{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block tabheading %}Login Page{% endblock %}

{% block pageheading %}<h1>Login</h1>{% endblock %}

{% block content %}

<form action="/login" method="POST">
    <div class="container">
       {{ form.hidden_tag() }}
       {{ wtf.form_field(form.username) }}
       {{ wtf.form_field(form.password) }}
       {{ wtf.form_field(form.remember) }}
        

        <button type="submit">Login</button><br>
        
    </div>


</form>
{% endblock %}

