{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block tabheading %}Registration{% endblock %}

{% block pageheading %}<h1>Register</h1>{% endblock %}

{% block content %}

<form action="/register" method="POST" >
     <div class="container">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        

         <button type="submit">Register</button><br>
        
    </div>
</form>

{% endblock %}
